[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
sqlalchemy = "*"
requests = "*"
python-dotenv = "*"
streamlit-authenticator = "*"
watchdog = "*"
duckdb = "*"
sqlalchemy-utils = "*"
tqdm = "*"
streamlit-folium = "*"
streamlit-geolocation = "*"
boto3 = "*"
st-social-media-links = "*"
psutil = "*"

[dev-packages]
ipython = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
